* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}.nav_links a:nth-child(4) {
        background-color: green;
        border-radius: 10px;
        color: white;
    }

    .HamburgerButton {
        display: none;
    }

    #Hamburger {
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    #Hamburger.rotate {
        transform: rotate(90deg);
    }

    .nav_student {
        float: left;
        width: 20%;
        background-color: #f7fff5;
        box-shadow: 2px 7px 8px #E4F5E4;
        gap: 2%;
        margin-right: .5%;
        top: 0;
        /* Stick to the top of the viewport */
        left: 0;
        /* Stick to the left edge of the viewport */
        position: fixed;
    }

    .main_content {
        width: 70%;
        float: left;
        margin-left: 22%;
    }

    .Evaluation_Container {
        display: block;
        width: 100%;
        margin-bottom: 5%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .Evaluation_Container input[type="text"] {
        width: 70%;
        font-size: 16px;
        background-color: white;
        outline: solid green 1px;
        border-radius: 20px;
        padding: 13px;
    }

    .Evaluation_Container select {
        margin-top: 1%;
        width: 50%;
        padding: 13px;
        font-size: 16px;
        background-color: white;
        outline: solid green 1px;
        border-radius: 20px;
    }

    .paybtn {
        background-color: green;
        font-size: 24px;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        display: flex;
        /* Allow the icon and text to be on the same line */
        align-items: center;
        /* Vertically align icon and text */
    }

    /* Add a hover effect */
    .paybtn:hover {
        background-color: darkgreen;
    }

    /* Style the icon */
    .paybtn .fas {
        margin-right: 5px;
        /* Add some spacing between icon and text */
    }

    /* Hide the default border on input type submit */
    .paybtn input[type="submit"] {
        border: none;

    }